<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>{% block title %}{% endblock %} - Evamed</title>
</head>
<body class='blue-grey lighten-5'>
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper white z-depth-1 " >
                <div class="row">
                    <div class="col s10 offset-s1">
                        <a href="#" class="brand-logo light-green-text accent-2-text" style="font-weight: bold;">EVAMED</a>
                        <span class="grey-text" style="margin-left: 140px;">Evaluación Ambiental de edificios </span>
                        <ul id="nav-mobile" class="right hide-on-med-and-down">
                            <li>
                                <a href="/" class="grey-text darken-1-text">
                                    <!-- <i class="material-icons ">home</i> -->
                                    Tus Proyectos
                                </a>
                            </li>
                            <li><a href="#" class="grey-text darken-1-text">Comprar</a></li>
                            <li><a href="/auth/logout" class="grey-text darken-1-text">Cerrar Sesión</a></li>
                        </ul>
                    </div>
                </div>
            </div>
          </nav>    

    </div>
    <div class="row"></div>
    {% block content %}{% endblock %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>