{% extends 'proyectos/base.html' %}

{% block title %}{{ Nombre }}{% endblock %}


{% block content %}

<!-- <div class="container">
</div> -->

<div class="row">
    <div class="col s8">
        <div class="row">
            <div class="col s10 offset-s1">
                <h3 class="light-green-text accent-2-text">Tus Proyectos</h3>
                <div class="divider"></div>
            </div>
        </div>
        <div class="row">
            <div class="col s10 offset-s1">
                <div class="row">
                    {% for proyecto in Proyectos %}
                        <div class="col s4">
                            <div class="card">
                                <div class="card-image">
                                    <img src="http://placeimg.com/300/300/arch?random={{proyecto['idProject']}}">
                                    <a class="btn-floating halfway-fab waves-effect waves-light red" href={{ url_for('proyectos.proyecto', idProyecto = proyecto[ 'idProject' ] ) }}><i class="material-icons">remove_red_eye</i></a>
                                </div>
                                <div class="card-content">
                                    <span class="card-title activator">{{proyecto['name']}}</span>
                                    <p class="truncate activator">{{proyecto['description']}}</p>
                                </div>
                                <div class="card-reveal">
                                    <span class="card-title activator">{{proyecto['name']}}</span>
                                    <p class="activator">{{proyecto['description']}}</p>
                                </div>
                              </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    
    <div class="col s3">
        <div class="row">
            <div class="col s11 ">
                <div class="card">
                    <div class="row"></div>
                    <div class="row">
                        <div class="col s4 offset-s4">
                            <img src="https://picsum.photos/500/500?random=1" alt="Imagen Usuario" class="circle responsive-img z-depth-1" >
                        </div>

                        <div class="col s4 offset-s4 center-align">
                            {{ Nombre }}
                        </div>
                    </div>
                    <div class="divider"></div>                    

                    <div class="row">
                        <div class="col s6">
                            <div class="row">
                                <h5 class="center-align col s12">{{NumProyectos}}</h5>
                                <div class="center-align col s12">Proyectos</div>
                            </div>
                        </div>
                        <div class="col s6"></div>
                        <div class="divider col s12"></div>
                    </div>
                    <div class="row">
                        <div class="col s8 offset-s2 center-align">
                            <a class="waves-effect waves-light btn modal-trigger" href="#creaProyecto">Nuevo Proyecto</a>
                        </div>
                    </div>
                    <div class="row"></div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal" id="creaProyecto">
    <div class="modal-content">
        <form action={{ url_for('proyectos.creaProyecto') }} method="post">
            <div class="row">
                <h5 class="light-green-text accent-2-text">Nuevo Proyecto</h5>
                <div class="divider"></div>
            </div>
            <div class="row">
                <div class="input-field col s6 offset-s3">
                    <input  id="nombre_proyecto" name="nombre_proyecto" type="text" class="validate" required>
                    <label for="nombre_proyecto">Nombre del Proyecto</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="descripcion_proyecto"  name="descripcion_proyecto" class="materialize-textarea"></textarea>
                    <label for="descripcion_proyecto">Descripción del Proyecto</label>
                </div>
            </div>
            <div class="row">
                <div class="col s4 center-align offset-s2">
                    <a class="waves-effect waves-light red btn modal-close" href="#!" >Cancelar</a>
                </div>
                <div class="col s4 center-align">
                    <button class="btn waves-effect waves-light" type="submit" name="action">Crear</button>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}

{% block scripts %}

<script>
    
  $(document).ready(function(){
    $('.modal').modal();
  });
</script>

{% endblock %}
